$primary-grey-color: #999999;
$primary-white-color: #ffffff;
$primary-accent-color: #fce38a;
$secondary-grey-color: #333333;
$secondary-accent-color: #f38181;
$primary-blue-color: #95e1d3;

$primary-font-family: "Roboto", sans-serif;
$primary-font-size: 15px;
$secondary-font-size: 14px;
$primary-font-height: 24px;

$secondary-font-family: "Montserrat", sans-serif;
$cursive-font-family: "Kaushan Script", cursive;

$primary-animation: 200ms linear;

$primary-gradient: linear-gradient(90deg, #fce388e6 0%, #f38181e6 100%)
